.first {
    color:#00d4ff;

}
body {
    background-color:#1a1a2e;

}
.second { 
    background: color #1565c0;
    color: white;
    margin: 20px;
    padding: 20px;

}
.third {
    background-color: #2e7d32;
    color: white;
    margin: 45px;

}
.fourth {
    background-color: #e65100;
    color: white;
    margin: 20px;
    padding: 20px;
}